<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Welcome to Task Manager ' + ${session.username}">Welcome to Task Manager</title>
</head>
<div align="center">
    <a href = "#" th:href="@{/logout}">Logout</a>
    <a href = "#" th:href="@{/home}">Home</a>
</div>
<p th:text="${param.homemsg[0]}" th:unless="${param.homemsg == null}">loginerror</p>
<div align="center">
    <h3 th:text="'Welcome to Task Manager ' + ${session.username}"></h3>
    <body>
        <table border="1px">
            <tr>
                <th>Created</th>
                <th>Title</th>
                <th>Body</th>
                <th>Completed</th>
                <th>ToComplete</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.dateCreated}"></td>
                <td th:text="${task.getTitle()}"></td>
                <td th:text="${task.getBody()}"></td>
                <td th:text="${task.completed}"></td>
                <td th:text="${task.dateComplete}"></td>
            </tr>
        </table>
    <a href="#" th:href="@{/addtask}">Add Task</a>
    </body>
</div>
</html>