<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User management</title>
</head>
<body>
<table border="1px">
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}">Onions</td>
        <td th:text="${user.getPassword()}">2.41</td>
        <td><a href="#" th:href="@{/update/}+${user.getId()}">Update</a> </td>
        <td><a href="#" th:href="@{/deleteuser/}+${user.getId()}">Delete</a> </td>
    </tr>
</table>

<div align="center">
<table border="1px">
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Completed</th>
        <th>Created</th>
        <th>ToComplete</th>
        <th>UserId</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.getTitle()}">Onions</td>
        <td th:text="${task.getBody()}">2.41</td>
        <td th:text="${task.completed}">2.41</td>
        <td th:text="${task.dateCreated}">Onions</td>
        <td th:text="${task.dateComplete}">2.41</td>
        <td th:text="${task.userid}">2.41</td>
    </tr>
</table>
</div>
</body>
</html>